*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#faf8f4;
}

.heading{
    background:#f4f4f4;
    padding:40px 10%;
}

.heading h1{
    font-size:42px;
    margin-bottom:10px;
}

.heading p{
    color:#777;
}

.booking-section{
    padding:60px 0;
}

.booking-container{
    width:80%;
    margin:auto;
    background:#fff;
    padding:40px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.booking-container h2{
    color:#b8860b;
    margin-bottom:10px;
}

.booking-container p{
    color:#666;
    margin-bottom:30px;
}

.row{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.input-box{
    flex:1;
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:8px;
    font-weight:bold;
}

input,
select,
textarea{
    padding:15px;
    border:1px solid #ddd;
    border-radius:6px;
    font-size:15px;
    outline:none;
}

textarea{
    height:120px;
    resize:none;
    margin-bottom:25px;
}

button{
    width:100%;
    padding:16px;
    border:none;
    background:#c89217;
    color:#fff;
    font-size:18px;
    border-radius:6px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#a87611;
}

@media(max-width:768px){

    .booking-container{
        width:95%;
        padding:20px;
    }

    .row{
        flex-direction:column;
    }

    .heading{
        padding:30px 5%;
    }

    .heading h1{
        font-size:32px;
    }
}